<div>
   <#LANG_OW_WEATHER_IN_CITY#>&nbsp;[#ow_city_name#]&nbsp;<#LANG_OW_WEATHER_ON_DATE#>&nbsp;[#data_update#]
</div>

[#if FACT#]
   [#begin FACT#]
<div class="row">
   <div class="col-sm-8">
      <h3><#LANG_OW_WEATHER_NOW#></h3>
      <div id="daily_list">
         <table class="table">
            <tbody>
               <tr>
                  <td>[#date#]<img src="[#weatherIcon#]"></td>
                  <td>
                     <ul class="list-unstyled"  style="list-style:outside none none;padding-left:0;font-size:14px;">
                        <li><span class="label label-warning">[#temperature#]°C </span> &nbsp;&nbsp;<i>[#weatherType#]</i></li>
                        <li><#LANG_OW_WEATHER_WIND#>: [#windDirection#]&nbsp;[#windSpeed#] м/с</li>
                        <li><#LANG_OW_WEATHER_OVERCAST#>: [#clouds#]%</li>
                        <li><#LANG_OW_PRESSURE#>: [#pressure_mmhg#] <#LANG_OW_PRESSURE_MMHG#></li>
                        <li><#LANG_OW_WEATHER_HUMIDITY#>: [#humidity#]%</li>
                        <li><#LANG_OW_SUNINFO_DAY_SUNRISE_SUNSET#>: [#sunrise#]/[#sunset#]</li>
                        <li><#LANG_OW_SUNINFO_DAY_LENGTH#>: [#day_length#]</li>
                     </ul>
                  </td>
               </tr>

            </tbody>
         </table>
      </div>
   </div>
</div>
   [#end FACT#]
[#endif FACT#]

[#if FORECAST#]
<div class="row">
   <div class="col-sm-8">
      <h3><#LANG_OW_FORECAST_FOR_SEVERAL_DAYS#></h3>
      <div id="daily_list">
         <table class="table-responsive">
            <tbody>
               [#begin FORECAST#]
               <tr>
                  <td><span>[#date#]</span><br /><img src="[#weatherIcon#]"></td>
                  <td style="padding-bottom:1em;">
                     <ul class="list-unstyled" style="list-style:outside none none;padding-left:0;font-size:14px;">
                        <li><span class="label label-warning">[#temp_day#]°C </span><span class="label label-default">[#temp_night#]°C </span><i> [#weatherType#]</i></li>
                        <li><#LANG_OW_WEATHER_WIND#>: [#windDirection#] [#windSpeed#] м/с</li>
                        <li><span><#LANG_OW_WEATHER_OVERCAST#>: [#clouds#]%,</span></li>
                        <li><span><#LANG_OW_PRESSURE#>: [#pressure_mmhg#] <#LANG_OW_PRESSURE_MMHG#></span></li>
                        [#if humidity!=0#]<li><#LANG_OW_WEATHER_HUMIDITY#>: [#humidity#]%</li>[#endif humidity#]
                        [#if rain!="0"#]<li><#LANG_OW_WEATHER_RAIN#>: [#rain#]mm</li>[#endif rain#]
                        [#if snow!="0"#]<li><#LANG_OW_WEATHER_SNOW#>: [#snow#]mm</li>[#endif snow#]
                        <li><#LANG_OW_SUNINFO_DAY_SUNRISE_SUNSET#>: [#sunrise#]/[#sunset#]</li>
                        <li><#LANG_OW_SUNINFO_DAY_LENGTH#>: [#day_length#]</li>
                     </ul>
                  </td>
               </tr>
               [#end FORECAST#]
            </tbody>
         </table>
      </div>
   </div>
</div>
[#endif FORECAST#]