<script language="javascript">
   $(document).ready(function()
   {
      function NASort(a, b)
      {
         if (a.innerHTML == 'NA')
         {
            return 1;
         }
         else if (b.innerHTML == 'NA')
         {
            return -1;
         }
         return (a.innerHTML > b.innerHTML) ? 1 : -1;
      };

      $('#ow_city option').sort(NASort).appendTo('#ow_city');

      $('#ow_city').change(function()
      {
         $("#ow_city_name").val($("#ow_city option:selected").text());
         return false;
      });
   });
</script>

<form action="?" method="get" class="form-horizontal" name="country_change">
   <input type="hidden" name="view_mode" value="getCityId">
   <div class="form-group">
      <div class="col-sm-5">
         <select name="country" id="country" class="form-control" onchange="document.country_change.submit();">
		  <option value="">--<#LANG_OW_CHOOSE_COUNTRY#>--</option>
		  <option value="AD" [#if country="AD"#] selected[#endif#]>Andorra</option>
		  <option value="AE" [#if country="AE"#] selected[#endif#]>United Arab Emirates</option>
		  <option value="AF" [#if country="AF"#] selected[#endif#]>Afghanistan</option>
		  <option value="AG" [#if country="AG"#] selected[#endif#]>Antigua and Barbuda</option>
		  <option value="AI" [#if country="AI"#] selected[#endif#]>Anguilla</option>
		  <option value="AL" [#if country="AL"#] selected[#endif#]>Albania</option>
		  <option value="AM" [#if country="AM"#] selected[#endif#]>Armenia</option>
		  <option value="AO" [#if country="AO"#] selected[#endif#]>Angola</option>
		  <option value="AR" [#if country="AR"#] selected[#endif#]>Argentina</option>
		  <option value="AS" [#if country="AS"#] selected[#endif#]>American Samoa</option>
		  <option value="AT" [#if country="AT"#] selected[#endif#]>Austria</option>
		  <option value="AU" [#if country="AU"#] selected[#endif#]>Australia</option>
		  <option value="AW" [#if country="AW"#] selected[#endif#]>Aruba</option>
		  <option value="AX" [#if country="AX"#] selected[#endif#]>Åland Islands</option>
		  <option value="AZ" [#if country="AZ"#] selected[#endif#]>Azerbaijan</option>
		  <option value="BA" [#if country="BA"#] selected[#endif#]>Bosnia and Herzegovina</option>
		  <option value="BB" [#if country="BB"#] selected[#endif#]>Barbados</option>
		  <option value="BD" [#if country="BD"#] selected[#endif#]>Bangladesh</option>
		  <option value="BE" [#if country="BE"#] selected[#endif#]>Belgium</option>
		  <option value="BF" [#if country="BF"#] selected[#endif#]>Burkina Faso</option>
		  <option value="BG" [#if country="BG"#] selected[#endif#]>Bulgaria</option>
		  <option value="BH" [#if country="BH"#] selected[#endif#]>Bahrain</option>
		  <option value="BI" [#if country="BI"#] selected[#endif#]>Burundi</option>
		  <option value="BJ" [#if country="BJ"#] selected[#endif#]>Benin</option>
		  <option value="BL" [#if country="BL"#] selected[#endif#]>Saint Barthelemy</option>
		  <option value="BM" [#if country="BM"#] selected[#endif#]>Bermuda</option>
		  <option value="BN" [#if country="BN"#] selected[#endif#]>Brunei</option>
		  <option value="BO" [#if country="BO"#] selected[#endif#]>Bolivia</option>
		  <option value="BQ" [#if country="BQ"#] selected[#endif#]>Bonaire, Sint Eustatius and Saba</option>
		  <option value="BR" [#if country="BR"#] selected[#endif#]>Brazil</option>
		  <option value="BS" [#if country="BS"#] selected[#endif#]>Bahamas</option>
		  <option value="BT" [#if country="BT"#] selected[#endif#]>Bhutan</option>
		  <option value="BW" [#if country="BW"#] selected[#endif#]>Botswana</option>
		  <option value="BY" [#if country="BY"#] selected[#endif#]>Belarus</option>
		  <option value="BZ" [#if country="BZ"#] selected[#endif#]>Belize</option>
		  <option value="CA" [#if country="CA"#] selected[#endif#]>Canada</option>
		  <option value="CC" [#if country="CC"#] selected[#endif#]>Cocos (Keeling) Islands</option>
		  <option value="CD" [#if country="CD"#] selected[#endif#]>Democratic Republic of the Congo</option>
		  <option value="CF" [#if country="CF"#] selected[#endif#]>Central African Republic</option>
		  <option value="CG" [#if country="CG"#] selected[#endif#]>Republic of the Congo</option>
		  <option value="CH" [#if country="CH"#] selected[#endif#]>Switzerland</option>
		  <option value="CI" [#if country="CI"#] selected[#endif#]>Ivory Coast</option>
		  <option value="CK" [#if country="CK"#] selected[#endif#]>Cook Islands</option>
		  <option value="CL" [#if country="CL"#] selected[#endif#]>Chile</option>
		  <option value="CM" [#if country="CM"#] selected[#endif#]>Cameroon</option>
		  <option value="CN" [#if country="CN"#] selected[#endif#]>China</option>
		  <option value="CO" [#if country="CO"#] selected[#endif#]>Colombia</option>
		  <option value="CR" [#if country="CR"#] selected[#endif#]>Costa Rica</option>
		  <option value="CU" [#if country="CU"#] selected[#endif#]>Cuba</option>
		  <option value="CV" [#if country="CV"#] selected[#endif#]>Cape Verde</option>
		  <option value="CX" [#if country="CX"#] selected[#endif#]>Christmas Island</option>
		  <option value="CW" [#if country="CW"#] selected[#endif#]>Curaçao</option>
		  <option value="CY" [#if country="CY"#] selected[#endif#]>Cyprus</option>
		  <option value="CZ" [#if country="CZ"#] selected[#endif#]>Czech Republic</option>
		  <option value="DE" [#if country="DE"#] selected[#endif#]>Germany</option>
		  <option value="DJ" [#if country="DJ"#] selected[#endif#]>Djibouti</option>
		  <option value="DK" [#if country="DK"#] selected[#endif#]>Denmark</option>
		  <option value="DM" [#if country="DM"#] selected[#endif#]>Dominica</option>
		  <option value="DO" [#if country="DO"#] selected[#endif#]>Dominican Republic</option>
		  <option value="DZ" [#if country="DZ"#] selected[#endif#]>Algeria</option>
		  <option value="EC" [#if country="EC"#] selected[#endif#]>Ecuador</option>
		  <option value="EE" [#if country="EE"#] selected[#endif#]>Estonia</option>
		  <option value="EG" [#if country="EG"#] selected[#endif#]>Egypt</option>
		  <option value="EH" [#if country="EH"#] selected[#endif#]>Western Sahara</option>
		  <option value="ER" [#if country="ER"#] selected[#endif#]>Eritrea</option>
		  <option value="ES" [#if country="ES"#] selected[#endif#]>Spain</option>
		  <option value="ET" [#if country="ET"#] selected[#endif#]>Ethiopia</option>
		  <option value="FI" [#if country="FI"#] selected[#endif#]>Finland</option>
		  <option value="FJ" [#if country="FJ"#] selected[#endif#]>Fiji</option>
		  <option value="FK" [#if country="FK"#] selected[#endif#]>Falkland Islands</option>
		  <option value="FM" [#if country="FM"#] selected[#endif#]>Micronesia</option>
		  <option value="FO" [#if country="FO"#] selected[#endif#]>Faroe Islands</option>
		  <option value="FR" [#if country="FR"#] selected[#endif#]>France</option>
		  <option value="GA" [#if country="GA"#] selected[#endif#]>Gabon</option>
		  <option value="GB" [#if country="GB"#] selected[#endif#]>United Kingdom</option>
		  <option value="GD" [#if country="GD"#] selected[#endif#]>Grenada</option>
		  <option value="GE" [#if country="GE"#] selected[#endif#]>Georgia</option>
		  <option value="GF" [#if country="GF"#] selected[#endif#]>French Guiana</option>
		  <option value="GG" [#if country="GG"#] selected[#endif#]>Guernsey</option>
		  <option value="GH" [#if country="GH"#] selected[#endif#]>Ghana</option>
		  <option value="GI" [#if country="GI"#] selected[#endif#]>Gibraltar</option>
		  <option value="GL" [#if country="GL"#] selected[#endif#]>Greenland</option>
		  <option value="GM" [#if country="GM"#] selected[#endif#]>Gambia</option>
		  <option value="GN" [#if country="GN"#] selected[#endif#]>Guinea</option>
		  <option value="GP" [#if country="GP"#] selected[#endif#]>Guadeloupe</option>
		  <option value="GQ" [#if country="GQ"#] selected[#endif#]>Equatorial Guinea</option>
		  <option value="GR" [#if country="GR"#] selected[#endif#]>Greece</option>
		  <option value="GS" [#if country="GS"#] selected[#endif#]>South Georgia and the South Sandwich Islands</option>
		  <option value="GT" [#if country="GT"#] selected[#endif#]>Guatemala</option>
		  <option value="GU" [#if country="GU"#] selected[#endif#]>Guam</option>
		  <option value="GW" [#if country="GW"#] selected[#endif#]>Guinea-Bissau</option>
		  <option value="GY" [#if country="GY"#] selected[#endif#]>Guyana</option>
		  <option value="HK" [#if country="HK"#] selected[#endif#]>Hong Kong</option>
		  <option value="HN" [#if country="HN"#] selected[#endif#]>Honduras</option>
		  <option value="HR" [#if country="HR"#] selected[#endif#]>Croatia</option>
		  <option value="HT" [#if country="HT"#] selected[#endif#]>Haiti</option>
		  <option value="HU" [#if country="HU"#] selected[#endif#]>Hungary</option>
		  <option value="ID" [#if country="ID"#] selected[#endif#]>Indonesia</option>
		  <option value="IE" [#if country="IE"#] selected[#endif#]>Ireland</option>
		  <option value="IL" [#if country="IL"#] selected[#endif#]>Israel</option>
		  <option value="IM" [#if country="IM"#] selected[#endif#]>Isle of Man</option>
		  <option value="IN" [#if country="IN"#] selected[#endif#]>India</option>
		  <option value="IQ" [#if country="IQ"#] selected[#endif#]>Iraq</option>
		  <option value="IR" [#if country="IR"#] selected[#endif#]>Iran</option>
		  <option value="IS" [#if country="IS"#] selected[#endif#]>Iceland</option>
		  <option value="IT" [#if country="IT"#] selected[#endif#]>Italy</option>
		  <option value="JE" [#if country="JE"#] selected[#endif#]>Jersey</option>
		  <option value="JM" [#if country="JM"#] selected[#endif#]>Jamaica</option>
		  <option value="JO" [#if country="JO"#] selected[#endif#]>Jordan</option>
		  <option value="JP" [#if country="JP"#] selected[#endif#]>Japan</option>
		  <option value="KE" [#if country="KE"#] selected[#endif#]>Kenya</option>
		  <option value="KG" [#if country="KG"#] selected[#endif#]>Kyrgyzstan</option>
		  <option value="KH" [#if country="KH"#] selected[#endif#]>Cambodia</option>
		  <option value="KI" [#if country="KI"#] selected[#endif#]>Kiribati</option>
		  <option value="KM" [#if country="KM"#] selected[#endif#]>Comoros</option>
		  <option value="KN" [#if country="KN"#] selected[#endif#]>Saint Kitts and Nevis</option>
		  <option value="KP" [#if country="KP"#] selected[#endif#]>North Korea</option>
		  <option value="KR" [#if country="KR"#] selected[#endif#]>South Korea</option>
		  <option value="KW" [#if country="KW"#] selected[#endif#]>Kuwait</option>
		  <option value="KY" [#if country="KY"#] selected[#endif#]>Cayman Islands</option>
		  <option value="KZ" [#if country="KZ"#] selected[#endif#]>Kazakhstan</option>
		  <option value="LA" [#if country="LA"#] selected[#endif#]>Laos</option>
		  <option value="LB" [#if country="LB"#] selected[#endif#]>Lebanon</option>
		  <option value="LC" [#if country="LC"#] selected[#endif#]>Saint Lucia</option>
		  <option value="LI" [#if country="LI"#] selected[#endif#]>Liechtenstein</option>
		  <option value="LK" [#if country="LK"#] selected[#endif#]>Sri Lanka</option>
		  <option value="LR" [#if country="LR"#] selected[#endif#]>Liberia</option>
		  <option value="LS" [#if country="LS"#] selected[#endif#]>Lesotho</option>
		  <option value="LT" [#if country="LT"#] selected[#endif#]>Lithuania</option>
		  <option value="LU" [#if country="LU"#] selected[#endif#]>Luxembourg</option>
		  <option value="LV" [#if country="LV"#] selected[#endif#]>Latvia</option>
		  <option value="LY" [#if country="LY"#] selected[#endif#]>Libya</option>
		  <option value="MA" [#if country="MA"#] selected[#endif#]>Morocco</option>
		  <option value="MC" [#if country="MC"#] selected[#endif#]>Monaco</option>
		  <option value="MD" [#if country="MD"#] selected[#endif#]>Moldova</option>
		  <option value="ME" [#if country="ME"#] selected[#endif#]>Montenegro</option>
		  <option value="MF" [#if country="MF"#] selected[#endif#]>Saint Martin</option>
		  <option value="MG" [#if country="MG"#] selected[#endif#]>Madagascar</option>
		  <option value="MH" [#if country="MH"#] selected[#endif#]>Marshall Islands</option>
		  <option value="MK" [#if country="MK"#] selected[#endif#]>Macedonia</option>
		  <option value="ML" [#if country="ML"#] selected[#endif#]>Mali</option>
		  <option value="MM" [#if country="MM"#] selected[#endif#]>Burma (Myanmar)</option>
		  <option value="MN" [#if country="MN"#] selected[#endif#]>Mongolia</option>
		  <option value="MO" [#if country="MO"#] selected[#endif#]>Macau</option>
		  <option value="MP" [#if country="MP"#] selected[#endif#]>Northern Mariana Islands</option>
		  <option value="MQ" [#if country="MQ"#] selected[#endif#]>Martinique</option>
		  <option value="MR" [#if country="MR"#] selected[#endif#]>Mauritania</option>
		  <option value="MS" [#if country="MS"#] selected[#endif#]>Montserrat</option>
		  <option value="MT" [#if country="MT"#] selected[#endif#]>Malta</option>
		  <option value="MU" [#if country="MU"#] selected[#endif#]>Mauritius</option>
		  <option value="MV" [#if country="MV"#] selected[#endif#]>Maldives</option>
		  <option value="MW" [#if country="MW"#] selected[#endif#]>Malawi</option>
		  <option value="MX" [#if country="MX"#] selected[#endif#]>Mexico</option>
		  <option value="MY" [#if country="MY"#] selected[#endif#]>Malaysia</option>
		  <option value="MZ" [#if country="MZ"#] selected[#endif#]>Mozambique</option>
		  <option value="NA" [#if country="NA"#] selected[#endif#]>Namibia</option>
		  <option value="NC" [#if country="NC"#] selected[#endif#]>New Caledonia</option>
		  <option value="NE" [#if country="NE"#] selected[#endif#]>Niger</option>
		  <option value="NF" [#if country="NF"#] selected[#endif#]>Norfolk Island</option>
		  <option value="NG" [#if country="NG"#] selected[#endif#]>Nigeria</option>
		  <option value="NI" [#if country="NI"#] selected[#endif#]>Nicaragua</option>
		  <option value="NL" [#if country="NL"#] selected[#endif#]>Netherlands</option>
		  <option value="NO" [#if country="NO"#] selected[#endif#]>Norway</option>
		  <option value="NP" [#if country="NP"#] selected[#endif#]>Nepal</option>
		  <option value="NU" [#if country="NU"#] selected[#endif#]>Niue</option>
		  <option value="NZ" [#if country="NZ"#] selected[#endif#]>New Zealand</option>
		  <option value="OM" [#if country="OM"#] selected[#endif#]>Oman</option>
		  <option value="PA" [#if country="PA"#] selected[#endif#]>Panama</option>
		  <option value="PE" [#if country="PE"#] selected[#endif#]>Peru</option>
		  <option value="PF" [#if country="PF"#] selected[#endif#]>French Polynesia</option>
		  <option value="PG" [#if country="PG"#] selected[#endif#]>Papua New Guinea</option>
		  <option value="PH" [#if country="PH"#] selected[#endif#]>Philippines</option>
		  <option value="PK" [#if country="PK"#] selected[#endif#]>Pakistan</option>
		  <option value="PL" [#if country="PL"#] selected[#endif#]>Poland</option>
		  <option value="PM" [#if country="PM"#] selected[#endif#]>Saint Pierre and Miquelon</option>
		  <option value="PN" [#if country="PN"#] selected[#endif#]>Pitcairn Islands</option>
		  <option value="PR" [#if country="PR"#] selected[#endif#]>Puerto Rico</option>
		  <option value="PS" [#if country="PS"#] selected[#endif#]>State of Palestine</option>
		  <option value="PT" [#if country="PT"#] selected[#endif#]>Portugal</option>
		  <option value="PW" [#if country="PW"#] selected[#endif#]>Palau</option>
		  <option value="PY" [#if country="PY"#] selected[#endif#]>Paraguay</option>
		  <option value="QA" [#if country="QA"#] selected[#endif#]>Qatar</option>
		  <option value="RE" [#if country="RE"#] selected[#endif#]>Réunion</option>
		  <option value="RO" [#if country="RO"#] selected[#endif#]>Romania</option>
		  <option value="RS" [#if country="RS"#] selected[#endif#]>Serbia</option>
		  <option value="RU" [#if country="RU"#] selected[#endif#]>Russia</option>
		  <option value="RW" [#if country="RW"#] selected[#endif#]>Rwanda</option>
		  <option value="SA" [#if country="SA"#] selected[#endif#]>Saudi Arabia</option>
		  <option value="SB" [#if country="SB"#] selected[#endif#]>Solomon Islands</option>
		  <option value="SC" [#if country="SC"#] selected[#endif#]>Seychelles</option>
		  <option value="SD" [#if country="SD"#] selected[#endif#]>Sudan</option>
		  <option value="SE" [#if country="SE"#] selected[#endif#]>Sweden</option>
		  <option value="SG" [#if country="SG"#] selected[#endif#]>Singapore</option>
		  <option value="SH" [#if country="SH"#] selected[#endif#]>Saint Helena</option>
		  <option value="SI" [#if country="SI"#] selected[#endif#]>Slovenia</option>
		  <option value="SJ" [#if country="SJ"#] selected[#endif#]>Svalbard</option>
		  <option value="SK" [#if country="SK"#] selected[#endif#]>Slovakia</option>
		  <option value="SL" [#if country="SL"#] selected[#endif#]>Sierra Leone</option>
		  <option value="SM" [#if country="SM"#] selected[#endif#]>San Marino</option>
		  <option value="SN" [#if country="SN"#] selected[#endif#]>Senegal</option>
		  <option value="SO" [#if country="SO"#] selected[#endif#]>Somalia</option>
		  <option value="SR" [#if country="SR"#] selected[#endif#]>Suriname</option>
		  <option value="SS" [#if country="SS"#] selected[#endif#]>Sao Tome and Principe</option>
		  <option value="ST" [#if country="ST"#] selected[#endif#]>El Salvador</option>
		  <option value="SV" [#if country="SV"#] selected[#endif#]>El Salvador</option>
		  <option value="SX" [#if country="SX"#] selected[#endif#]>Sint Maarten</option>
		  <option value="SY" [#if country="SY"#] selected[#endif#]>Syria</option>
		  <option value="SZ" [#if country="SZ"#] selected[#endif#]>Swaziland</option>
		  <option value="TC" [#if country="TC"#] selected[#endif#]>Turks and Caicos Islands</option>
		  <option value="TD" [#if country="TD"#] selected[#endif#]>Chad</option>
		  <option value="TF" [#if country="TF"#] selected[#endif#]>French Southern Territories</option>
		  <option value="TG" [#if country="TG"#] selected[#endif#]>Togo</option>
		  <option value="TH" [#if country="TH"#] selected[#endif#]>Thailand</option>
		  <option value="TJ" [#if country="TJ"#] selected[#endif#]>Tajikistan</option>
		  <option value="TL" [#if country="TL"#] selected[#endif#]>Timor-Leste</option>
		  <option value="TM" [#if country="TM"#] selected[#endif#]>Turkmenistan</option>
		  <option value="TN" [#if country="TN"#] selected[#endif#]>Tunisia</option>
		  <option value="TO" [#if country="TO"#] selected[#endif#]>Tonga</option>
		  <option value="TR" [#if country="TR"#] selected[#endif#]>Turkey</option>
		  <option value="TT" [#if country="TT"#] selected[#endif#]>Trinidad and Tobago</option>
		  <option value="TV" [#if country="TV"#] selected[#endif#]>Tuvalu</option>
		  <option value="TW" [#if country="TW"#] selected[#endif#]>Taiwan</option>
		  <option value="TZ" [#if country="TZ"#] selected[#endif#]>Tanzania</option>
		  <option value="UA" [#if country="UA"#] selected[#endif#]>Ukraine</option>
		  <option value="UG" [#if country="UG"#] selected[#endif#]>Uganda</option>
		  <option value="US" [#if country="US"#] selected[#endif#]>United States</option>
		  <option value="UY" [#if country="UY"#] selected[#endif#]>Uruguay</option>
		  <option value="UZ" [#if country="UZ"#] selected[#endif#]>Uzbekistan</option>
		  <option value="VA" [#if country="VA"#] selected[#endif#]>Holy See (Vatican City)</option>
		  <option value="VC" [#if country="VC"#] selected[#endif#]>Saint Vincent and the Grenadines</option>
		  <option value="VE" [#if country="VE"#] selected[#endif#]>Venezuela</option>
		  <option value="VG" [#if country="VG"#] selected[#endif#]>British Virgin Islands</option>
		  <option value="VI" [#if country="VI"#] selected[#endif#]>US Virgin Islands</option>
		  <option value="VN" [#if country="VN"#] selected[#endif#]>Vietnam</option>
		  <option value="VU" [#if country="VU"#] selected[#endif#]>Vanuatu</option>
		  <option value="WF" [#if country="WF"#] selected[#endif#]>Wallis and Futuna</option>
		  <option value="WS" [#if country="WS"#] selected[#endif#]>Samoa</option>
		  <option value="XK" [#if country="XK"#] selected[#endif#]>Kosovo</option>
		  <option value="YE" [#if country="YE"#] selected[#endif#]>Yemen</option>
		  <option value="YT" [#if country="YT"#] selected[#endif#]>Mayotte</option>
		  <option value="ZA" [#if country="ZA"#] selected[#endif#]>South Africa</option>
		  <option value="ZM" [#if country="ZM"#] selected[#endif#]>Zambia</option>
		  <option value="ZW" [#if country="ZW"#] selected[#endif#]>Zimbabwe</option>
         </select>
      </div>
      <div class="col-sm-5">
         <select name="ow_city_id" id="ow_city" class="form-control">
            [#ow_city#] ([#CITY_LAT#]|[#CITY_LNG#])
         </select>
      </div>
   </div>
   <div class="form-actions">
      <button type="submit" name="ow_subm" value="setCityId" class="btn btn-primary"><#LANG_SUBMIT#></button>
      <a href="?view_mode=setting" class="btn btn-default"><#LANG_CANCEL#></a>
      <input type="hidden" id="ow_city_name" name="ow_city_name" value="">
   </div>
</form>