<div class="panel panel-info">
   <div class="panel-heading"><#LANG_OW_HELP_CALL_MODULE_MENU_TITLE#></div>
   <div class="panel-body">
         <code><b>&#091#module name="app_openweather"#&#093 </b></code> - <#LANG_OW_HELP_DISPLAY_INFO_CUR_WEATHER#><br />
         <code><b>&#091#module name="app_openweather" forecast="0"#&#093 </b></code> - <#LANG_OW_HELP_DISPLAY_INFO_CUR_WEATHER_FORECAST#><br />
         <code><b>&#091#module name="app_openweather" fact="off" forecast="1"#&#093</b></code> - <#LANG_OW_HELP_DISPLAY_INFO_FORECAST_1DAY#><br />
         <span style="padding-left:1em;display:block;">
            <code>forecast="0"</code> - <#LANG_OW_HELP_DISPLAY_INFO_FORECAST_0DAY#><br />
            <code>forecast="1"</code> - <#LANG_OW_HELP_DISPLAY_INFO_FORECAST_1DAY#><br />
            <code>forecast="2"</code> - <#LANG_OW_HELP_DISPLAY_INFO_FORECAST_2DAY#><br />
         </span>
   </div>
 </div>
<div class="panel panel-info">   
   <div class="panel-heading"><#LANG_OW_HELP_RUNSCRIPT_TITLE#></div>
   <div class="panel-body">
   <#LANG_OW_HELP_RUNSCRIPT_VAL#>
      <code style="display:block">
         include_once(DIR_MODULES . 'app_openweather/app_openweather.class.php');<br />
         $openweather = new app_openweather();<br />
         $openweather->get_weather(gg('ow_city.id'));
      </code>
   </div>
 </div>
