[#if FACT#]
[#begin FACT#]
<div style="float:left;padding:5px"><img src="[#weatherIcon#]"></div>
<ul class="list-unstyled"  style="list-style:outside none none;padding-left:0;font-size:14px;">
    <li><span class="label label-warning">[#temperature#]°C </span>&nbsp;<i>[#weatherType#]</i></li>
    <li><#LANG_WIND#>: [#windDirection#]&nbsp;[#windSpeed#] <#LANG_M_S#></li>
    <li><#LANG_OW_WEATHER_OVERCAST#>: [#clouds#]%</li>
    <li><#LANG_PRESSURE#>: [#pressure_mmhg#] <#LANG_MMHG#></li>
    <li><#LANG_HUMIDITY#>: [#humidity#]%</li>
    <li><#LANG_OW_SUNINFO_DAY_SUNRISE_SUNSET#>: [#sunrise#]/[#sunset#]</li>
    <li><#LANG_OW_SUNINFO_DAY_LENGTH#>: [#day_length#]</li>
</ul>
[#end FACT#]
[#endif FACT#]
